// Here you can add other styles

body {
  font-family: monospace;
}

p {
  margin-bottom: 3px;
}

.main-container {
  display: inline-block;
  input {
    display: block;
    margin: 20px 20px;
  }
  canvas {}
}

.log-entries {
  background-color: #2c2c2c;
  color: #cccccc;
  padding: 10px;
  float: right;
  width: 650px;
  height: 100vh;
  .log-entry {
    padding: 5px 10px;

    .title {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .buttons {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      float: right;
      .entry-btn {
        cursor: pointer;
        border: 1px solid #999;
        padding: 2px 5px;
        font-size: 11px;
      }
      .entry-btn:not(:last-child) {
        margin-right: 10px;
      }
    }
    .modified-at {
      color: #3ecece;
    }
    .created-at {
      color: #004bff;
    }
    .tags {
      color: #e6318c;
    }
  }
  .log-entry:not(:first-child) {
    border-top: 1px solid #222;
  }
  .log-entry:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .log-entries-items {
    overflow-y: auto;
    height: 100%;
  }
}

.query-container {
  padding: 10px;
  .query-box {
    padding: 5px;
    width: 100%;
  }
}

.btn {
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 2px 5px;
  line-height: 15px;
}

.tag-info {
  padding: 10px;
  border-bottom: 1px solid #222;
  .tag-header {
    width: 300px;
    font-size: 15px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .tag-name {
      line-height: 29px;
    }
    .tag-date {
      font-size: 11px;
      color: #3ecece;
    }
    .tag-edit-name {
      line-height: 23px;
    }
  }
  .tag-buttons {
    display: inline-block;
    float: right;
    padding: 4px 0px;
    .btn {
      font-size: 11px;
      color: #333;
      background-color: #ccc;
    }
    .btn:not(:last-child) {
      margin-right: 10px;
    }
  }
}
