// Here you can add other styles

body {
  font-family: monospace;
}

p {
  margin-bottom: 3px;
}

.main-container {
  display: inline-block;
  input {
    display: block;
    margin: 20px 20px;
  }
  canvas {
    margin: 20px 20px;
    border: 1px dotted #999;
  }
}

.log-entries {
  background-color: #eee;
  padding: 25px;
  float: right;
  width: 40%;
  overflow-y: auto;
  height: 800px;
  .log-entry {
    border: 1px solid black;
    margin: 15px 15px;
    padding: 5px 10px;

    .title {
      font-size: 14px;
      font-weight: bold;
    }
    .modified-at {
      color: #197676;
    }
    .created-at {
      color: #004bff;
    }
    .tags {
      color: #810b46;
    }
  }
}

.query-box {
  margin: 15px 15px;
  padding: 5px;
  width: 500px;
}

.enable-editor {
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 2px 5px;
}

.btn {
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 2px;
  padding: 2px 5px;
  line-height: 15px;
}

.tag-info {
  margin: 15px 15px;
}
